<div id="banner">
  <h1 id="uber">Wetter Heute in Bornheim</h1>
</div>
<div style="position: fixed; top: 0; right: 0; margin-top: 10px;">
  <img
    style="height: 120px; width: 120px; "
    src="https://images-eu.ssl-images-amazon.com/images/I/614ZciL2toL.png"
  />
</div>
<div id="maindiv">
  <div id="flexdiv">
    <app-image [path]="path"></app-image>
    <app-data
      [header]="'Temperatur'"
      [value]="temperature"
      [unit]="'°C'"
    ></app-data>
    <app-data
      [header]="'Luftfeuchtigkeit'"
      [value]="humidity"
      [unit]="'%'"
    ></app-data>
    <app-data
      [header]="'Vor einer Stunde'"
      [value]="ot"
      [unit]="'°C'"
    ></app-data>
    <h3>
      Wetter der letzten Stunde
    </h3>
    <div id="prevchartdiv">
      <app-line-chart
        [data]="ot"
        [header]="'Temperature'"
      ></app-line-chart>
      <app-line-chart
        [data]="oh"
        [header]="'Humidity'"
      ></app-line-chart>
    </div>
    <h3>
      Wetter der nächsten Stunde
    </h3>
    <div id="nextchartdiv">
      <app-line-chart
        [data]="nt"
        [header]="'Temperature'"
      ></app-line-chart>
      <app-line-chart
        [data]="nh"
        [header]="'Humidity'"
      ></app-line-chart>
    </div>
  </div>
</div>
